#container {
    width:100%;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

.bar {
    grid-column:1/9;
    background-color:rgba(172, 12, 12, 0.3);
    height: 75px;
    grid-row:1/2;
}

#photoMain {
    background-color:rgba(48, 241, 122, 0.3);
    grid-column: 1/9;
    height: 510px;
    grid-row:1/2;
}

.main {
    background-color: rgba(211, 129, 23, 0.3);
    grid-column:   2/8;
    height: 1000px;
}


/* . if its a class # if its an id */