#container {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    /* grid-template-rows: minmax(0px, 75px) auto minmax(0px, auto); */

    margin: 0;
}

#logo {
    background-image: url(images/logo.png);
    height: 75px;
    grid-column: 2;
    grid-row: 1;
    width: auto;
    z-index: 20;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bar {
    grid-column: 1/9;
    background-color: rgba(105, 61, 14, 0.45);
    height: 75px;
    grid-row: 1/2;
    z-index: 10;
    font-weight: bold;
    font-size: 1.2em;
}

#photoMain {
    background-image: url(images/caleb.png);
    grid-column: 1/9;
    height: 700px;
    grid-row: 1/2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.opacity {
    grid-column: 1/9;
    grid-row: 1/2;
    text-align: center;
    /* z-index: 10; */
    background-color: rgba(0, 0, 0, 0.45);
}

.main {
    grid-column: 2/8;
    height: 1000px;
    text-align: center;

}

h1 {
    color: whitesmoke;
    text-align: center;
    z-index: 11;
    margin: 0;
    padding-top: 50px;
    font-size: 3em;
    /* font-family: garamond; */
}

.para1 {
    text-align: center;
    padding: 0 200px 0 200px;
    grid-column: 3/6;
    font-size: 1.5em;
    margin: 10px;
}

header {
    display: grid;
}

button {
    margin-top: 150px;
    padding: 10px;
    font-size: 1.5em;
    background-color: rgba(237, 234, 227, 0.40);
}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
    margin-bottom: 0px;
}

.orangebox {
    background-color: #DA8F3E;
    width: 1250px;
    height: 400px;
    z-index: 12;
    position: relative;
    left: -100px;
    margin-top: 50px;


}

.orangebox img {
    margin: 40px;
    margin-top: 15px;
    /* padding-top: 15px;
     */
    padding: 15px 15px 0 15px;

    width: 275px;
    height: 275px;
    object-fit: cover;
}

.orangebox button {
    margin-left: -150px;
    object-fit: cover;


    padding: 10px;
    font-size: 1.5em;
    background-color: rgba(237, 234, 227, 0.40);

    text-align: center;
    color: whitesmoke;
}

.testimonial {
    display: flex;

}


.brownbox img {
    margin-top: -300px;
    height: auto;
    width: 560px;
    z-index: 17;
    margin-left: 490px;
}

.testimonial h2 {
    color: black;
    font-size: 2em;
    margin-left: 160px;
    margin-top: 75px;
    z-index: 25;
}

.testimonial img {
    margin-top: 30px;
    height: auto;
    width: 535px;
    object-fit: cover;
    background-color: #3A4F50;
    padding-top: 20px;
    padding-bottom: 30px;
}

.brownbox p {
    text-align: center;
    font-size: 1.5em;
    max-width: 50%;
    margin-left: 510px;
    margin-top: -280px;
}



.bar a {
    padding: 1rem 0.5rem;
    display: block;
    text-decoration: none;
    color: whitesmoke;
}



.bar ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    justify-content: center;
    display: flex;
}

.bar ul li {
    width: 180px;
    margin-left: -25px;
}


/* . if its a class # if its an id */