#container {
    width:100%;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

.bar {
    grid-column:1/9;
    background-color:rgba(62, 35, 6, .75);
    /* background-color: #3E2306; */
    height: 75px;
    grid-row:1/2;
    z-index:10;
}

#photoMain {
    background-image: url(images/caleb.png);
    grid-column: 1/9;
    height: 700px;
    grid-row:1/2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main {
    background-color: rgba(211, 129, 23, 0.3);
    grid-column:   2/8;
    height: 1000px;
}

h1 {
    /* color: whitesmoke; */
    text-align:center;
    margin: 0;
    /* font-family: garamond; */
}

h2 {
    text-align:center;
}

.para1 {
    text-align: center;
    padding: 20px;
    /* margin: 50px; */
    width: 50%;
    font-size:2em;
}


/* . if its a class # if its an id */
