#container {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 200px)) minmax(0px, 1fr);
    /* grid-template-rows: minmax(0px, 75px) auto minmax(0px, auto); */

    margin: 0;
}

#logo {
    background-image: url(images/logo.png);
    height: 75px;
    grid-column: 2;
    grid-row: 1;
    width: auto;
    z-index: 20;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bar {
    grid-column: 1/-1;
    background-color: rgba(105, 61, 14, 0.45);
    height: 75px;
    grid-row: 1/2;
    z-index: 10;
    font-weight: bold;
    font-size: 1.2em;
}

#photoMain {
    background-image: url(images/caleb.png);
    grid-column: 1/-1;
    height: 700px;
    grid-row: 1/2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.opacity {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.45);
}

.main {
    grid-column: 2/8;
    height: 1000px;
    text-align: center;

}

h1 {
    color: whitesmoke;
    text-align: center;
    z-index: 11;
    margin: 0;
    padding-top: 50px;
    font-size: 3em;
    /* font-family: garamond; */
}

/* this is the part I need to ask about in class*/

.para1 {
    text-align: center;
    padding: 0 50px 0 50px;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

header {
    display: grid;
}

button {
    /* here too */
    margin-top: 150px;
    padding: 10px;
    font-size: 1.5em;
    background-color: rgba(237, 234, 227, 0.40);
    cursor: pointer;

}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
    margin-bottom: 25px;
    margin-top: 25px;
    
}


.orangebox {
    background-color: #DA8F3E;
    height: 400px;
    z-index: 12;
    /* position: relative; */
    /* left: -100px; */
    margin-top: 50px;


}

.container-orange {
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.background-item {
    height: 275px;
    width: 275px;
    /* background-size: cover; */
    background-position: center;
    position: relative;
    /*     
    margin-top: 25px;
    width: 275px;
    height: 275px;
    object-fit: cover; */

}

#portates {
    background-image: url("images/family.png");
}

#events {
    background-image: url('images/graduation.png');
}

#weddings {
    background-image: url('images/marriage.png');
}

/*
    useless?
.orangebox img {
    margin-top: 25px;
    width: 275px;
    height: 275px;
    object-fit: cover;
    } */
.orangebox button {
    width: 160px;
    height: 50px;
    color: whitesmoke;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    background-color: rgb(58, 79, 80,.7);
    top:25%;
    font-size: 1.5em;
}

.orangebox div {
    display: flex;
}


.bar a {
    padding: 1rem 0.5rem;
    display: block;
    text-decoration: none;
    color: whitesmoke;
}



.bar ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    justify-content: center;
    display: flex;
}

.bar ul li {
    width: 180px;
    margin-left: -25px;
}


/* . if its a class # if its an id */





.subgrid-container {
    display: flex; 
    align-items: center; 
}


.testimonial img {
    max-width: 1fr; 
    height: auto; 
    margin-top: 30px;
    object-fit: cover;
    background-color: #3A4F50;
    padding-top: 20px;
    padding-bottom: 30px; 

}

.brownbox h2 {
    margin-left: 50px;
}

.brownbox p {
    margin-left: 50px; 
    font-size: 1.5rem; 
    max-width: 600px; 
    padding-top: 20px;
    padding-bottom: 30px; 
}


/* Mobile */
@media only screen and (max-width: 600px) {
    
  
    
    .bar ul {
        display: block;
    }

    

    #logo {
        grid-column: 7;
        position:sticky;
        top:0;
    }
   
    .bar {
        position:sticky;
        top:0;
    }
    
    #photoMain {
        grid-column: 1/-1;
        height: 300px;
        grid-row: 1/2;
    }

    .opacity {
        grid-column: 1/-1;
        height: 300px;
    }

    .subgrid-container {
        flex-direction: column;     }

    .testimonial img {
        max-width: 100%; 
        margin-top: 20px; 
    }

    .brownbox {

        margin-top: 20px;     }

    .brownbox h2, .brownbox p {
        margin-left: 0;     }

    h1 {
        color:aqua;
        font-size: 2em;

    }
}


/* have the nav bar below calebs picture and put amelia
 and greta photography in the bar with home on the left */